.alert-success {
    background-color: darkgreen;
}

.alert-warning {
    background-color: khaki;
}

.alert-danger {
    background-color: tomato;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: darksalmon;}
nav li a{color: black}
input{border-radius: 20;}
body{
    background-color: cornflowerblue;
    color: rgb(153, 0, 153);

}




